<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./login.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../../../favicon.ico">

  <title>Login - DivideAê</title>
</head>

<body>
  <div class="form-login">
    <form class="form-login2">
      <h1>Acesse sua Conta</h1>
      <label for="user">Usuário</label><br>
      <input type="text" name="user" placeholder=""><br><br>
        
      <label for="senha">Senha</label><br>
      <input type="password" name="senha" placeholder=""><br><br>    
          
      <button class="bt-log" type="submit">Entrar</button><br><br>
      <a href="#">Esqueceu a Senha? Clique aqui para recuperar</a><br><br>
      <a href="../../app.component.html">Voltar para a Home</a>
    </form>
  </div>
</body>







