*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(186,77,77);
    background: linear-gradient(90deg, rgba(186,77,77,1) 0%, rgba(171,45,31,1) 0%, rgba(171,31,31,1) 91%);
} 

header{
    background-color: white;
}

.form-login{
    background-color: bisque;
    width: 320px;
    height: 420px;
    border: 2px solid ;
    border-radius: 90px 50px 90px 0px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
    text-align: center;
}

.form-login input[type="text"], input[type="password"]{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: transparent;
    height: 15px;
    font-size: 16px;
    display: flex;
    text-align: center;
}    

.pgf-login{
    background-color: white;
    text-align: center;
    font-size: 200%;
}

footer{
    background-color: white;
    text-align: center;
}

