*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 60px;
}

.form-login{
    text-align: center;
    margin-top: 7%;
}

.form-login2{
    font-size: 30px;
    font-weight: bold;
}

.form-login2 input {
    width: 25%; /*linha do intput*/
  
}

.form-login2 input[type="text"], input[type="password"]{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: black;
    font-size: 18px;
    text-align: center;
}

.bt-log{
    border: 1px;
    border-radius: 5px;
    padding: 1.1%;
    background-color:black;
    color: white;
    width: 8%;
}

.bt-log:hover{
    background-color: #e69e19;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}










