<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="../favicon.ico">
<link rel="stylesheet" href="./listingAnnouncement.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

<title>Anúncios</title>

<header>
    <nav class="menu">
        <ul>
            <li><a href="#"><b>Anúncios</b></a></li>
            <li><a href="#"><b>Como Funciona</b></a></li>
            <li><a href="#"><b>Cidades</b></a></li>
            <li><a href="#"><b>Contato</b></a></li>
        </ul>
    </nav>
</header>

<h1>Anúncios</h1>
 <div class="announcement">
    Anuncio 
 </div><br><br>
 <div class="announcement">
    Anuncio 
 </div><br><br>
 <div class="announcement">
    Anuncio 
 </div><br><br>
 <div class="announcement">
    Anuncio 
 </div><br><br>
 <div class="announcement">
    Anuncio 
 </div>
<br><br><br><br><br>
 <footer>Arke Projects</footer>

