<title>Login - DivideAê</title>
<link rel="stylesheet" href="./login.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../favicon.ico">

<header class="pgf-login"><b>Acesse sua Conta</b></header>
<form class="form-login">
  <h1>Login</h1>
      <input type="text" name="" placeholder="">
      <P>Senha</P>
      <input type="password" name="" placeholder=""><br><br>
      <input type="submit" name="" value="Login">
</form>


