*{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 8vh;
    display: flex;
    justify-content: center;
}

.menu{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}
  
.menu li {
    list-style: none;
}
  
.menu a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

h1{
    text-align: left;
}

label{
    font-weight: bold;
}

.btn-save-user, .btn-cancel-user{    
    flex-direction: row;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}



