*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f0f0f5;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}

.initial-information{
    margin-top: 6%;
    text-align: center;
    background-color: #ffffff;
    justify-content: center;
    padding: 2%;
}

a{
    text-decoration: none;
    border: 1px solid;
    padding: 0.7%;
    border-radius: 8px;
    background-color: #000000;
    color: #f0f0f0;
}







