*{
    font-family: 'Montserrat', sans-serif;
 }

body{
    background: rgb(171,45,31);
    background: linear-gradient(90deg, rgba(171,45,31,1) 0%, rgba(186,77,77,1) 0%, rgba(171,31,31,1) 100%);
}  

header{
	background-color:black;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

h1{
    text-align: center;
    
}

.form-announcement{
    
}

.btn{
    
    display: flexbox;
} 

