*{
    font-family: 'Montserrat', sans-serif;
    border: none;
 }

 body{
    background: rgb(186,77,77);
    background: linear-gradient(90deg, rgba(186,77,77,1) 0%, rgba(171,45,31,1) 0%, rgba(171,31,31,1) 91%);
}  

header{
	height: 3em;
	color: white;
	margin-bottom: 1em;
}

h1{
    text-align: left;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
.menu ul {
    display: flex;
    justify-content: space-around;
}
  
.menu li {
    list-style: none;
}
  
.menu a {
    color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.form-announcement{
  /*  border: none;
    outline: none;
    border-bottom: 1px solid;
    background: transparent;*/
}

.btn{    
    flex-direction: row;
} 

footer{
    background-color: white;
    text-align: center;
}



